@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

:root {
  --text: #f7f7ff;
  --banner: #7d83ff;
  --background: #f7f7ff;
  --header-text: #7d83ff;
  --main-text: #272727;
}

#root,
.App {
  min-height: 100vh;
}

#root {
  background: var(--background);
  transition: background 100ms;
}

html,
body {
  background: var(--background);
  transition: background 100ms;
  font-family: "Alata", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  user-select: none;
}

h1,
p {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.1, 0, 0.1, 1);
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}