.card-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.card {
  display: flex;
  align-items: center;
  justify-content: left;
  background: var(--main-text);
  margin: 0.4rem;
  padding: 1.4rem;
  min-width: 16rem;
  max-width: 16rem;
  border: 0.2rem solid var(--background);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  transition: transform 100ms cubic-bezier(0.1, 0, 0.1, 1),
    box-shadow 100ms cubic-bezier(0.1, 0, 0.1, 1),
    filter 100ms cubic-bezier(0.1, 0, 0.1, 1),
    background 100ms cubic-bezier(0.1, 0, 0.1, 1),
    border 100ms cubic-bezier(0.1, 0, 0.1, 1);
}

.card svg {
  margin-right: 1rem;
}

.card h1 {
  color: var(--background);
  font-size: 2rem;
}

.card p {
  color: var(--background);
  font-size: 1rem;
}

.card.card-small {
  flex-grow: 1;
}

.card.card-normal {
  flex-grow: 2;
}

.card.card-large {
  flex-grow: 4;
}

.card:hover,
.icon-menu:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  filter: brightness(110%);
  transition: transform 100ms cubic-bezier(0.1, 0, 0.1, 1),
    box-shadow 100ms cubic-bezier(0.1, 0, 0.1, 1),
    filter 100ms cubic-bezier(0.1, 0, 0.1, 1);
}

.card:active,
.icon-menu:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  filter: brightness(90%);
  transition: transform 100ms cubic-bezier(0.1, 0, 0.1, 1),
    box-shadow 100ms cubic-bezier(0.1, 0, 0.1, 1),
    filter 100ms cubic-bezier(0.1, 0, 0.1, 1);
}