.Header {
  transition: background 100ms cubic-bezier(0.1, 0, 0.1, 1);
  position: absolute;
  width: 100%;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  transition: background 100ms cubic-bezier(0.1, 0, 0.1, 1);
}

.header-title h1 {
  color: var(--text);
  margin: 0.5rem 0 0.6rem 2rem;
  font-size: 2rem;
}

.icon-menu svg,
.card svg {
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.1, 0, 0.1, 1);
}

.icon-menu {
  transition: transform 100ms cubic-bezier(0.1, 0, 0.1, 1),
    box-shadow 100ms cubic-bezier(0.1, 0, 0.1, 1);
}

.banner {
  background: var(--banner);
  display: flex;
  width: 98vw;
  height: 36rem;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  transition: background 100ms cubic-bezier(0.1, 0, 0.1, 1);
}

.banner img {
  width: 16rem;
  height: 16rem;
  padding: 1rem;
  border-radius: 50%;
  transition: border 100ms cubic-bezier(0.1, 0, 0.1, 1);
}

.banner-image {
  margin-left: 4rem;
  border-radius: 50%;
  border: 0.6rem solid var(--text);
  transition: border 100ms cubic-bezier(0.1, 0, 0.1, 1),
    transform 100ms cubic-bezier(0.1, 0, 0.1, 1),
    box-shadow 100ms cubic-bezier(0.1, 0, 0.1, 1);
}

.banner-title {
  color: var(--text);
  margin-left: 4rem;
}

.banner-title h1 {
  font-size: 6rem;
  text-align: center;
}

.banner-title p {
  font-size: 2rem;
}